@keyframes pulse-heart {
  0%,
  100% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(0.8);
  }

  75% {
    transform: scale(1.2);
  }
}

.animate-pulse-heart {
  animation: pulse-heart 1.5s infinite;
}

.button-colorido {
  @apply w-full rounded-6 bg-gradient-linear-primary px-5 py-2 font-semibold text-white md:w-40;
}

.section-1-text {
  @apply text-80 font-bold uppercase italic;
}

.container-opacity-light {
  @apply flex h-fit w-full flex-col gap-3 rounded-6 bg-white bg-opacity-10 p-10;
}

.input_container {
  @apply flex w-full flex-col gap-2.5;
}

.input {
  @apply h-16 w-full overflow-hidden text-ellipsis whitespace-nowrap rounded-full border-0 bg-white bg-opacity-15 pl-8 text-24 outline-none duration-300;

  @apply hover:border-white;

  @apply focus:border-white focus:shadow-primary;
}

.input::placeholder {
  @apply h-fit text-24 font-light text-white opacity-50;
}

.container-services {
  @apply flex h-[500px] w-full flex-col justify-between gap-3 rounded-6 bg-white bg-opacity-10 p-6 md:h-[650px] lg:h-[550px];
}

.border-gradient {
  border-top: 1px solid;
  border-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.25) 51%,
      rgba(255, 255, 255, 0)
    )
    1;
}
